@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap rel="stylesheet');

/* Reseteo */
* {
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

/* Declaración de colores */
:root {
    --color-dark: #070B0E;
    --color-graydark: #353A40;
    --color-graymed: #656C72;
    --color-graylight: #B9BDC0;
    --color-brown: #A6805C;
}

/* Formato general */
body {
    height: 98vh;
    width: 100%;

    background: rgb(7, 11, 14);
    background: linear-gradient(90deg, rgba(7, 11, 14, 1) 0%, rgba(53, 58, 64, 1) 100%);

    overflow-x: hidden;
}

main {
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/*Barra de navegación y footer - Bootstrap */
.navbar,
footer {
    background-color: var(--color-graydark);

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.3rem;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.nav-img {
    width: 3rem;
    height: auto;
}

#nav-link,
.btn {
    color: var(--color-graylight) !important;
}

.nav-item {
    width: 7rem;
    height: auto;
}

.nav-item:active {
    border-radius: 10%;
    box-shadow: 6px 5px 8px #0000008c inset;
}

.btn:hover,
#nav-link:hover {
    color: var(--color-brown) !important;
}

/* Contenido página de inicio - Grid */
.contenedor-grid {
    display: grid;
    grid-auto-rows: 45rem;
    grid-template-columns: repeat(2, 2fr);
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.inicio-sec-texto {
    text-align: end;
}

.inicio-sec-texto h1 {
    color: var(--color-brown);
}

.inicio-sec-texto h3 {
    color: var(--color-graylight);
}

.img-inicio {
    width: 35rem;
    height: auto;
}

/* Página ¿Quién soy? - Bootstrap*/
.pag-titulo {
    color: var(--color-brown);
}

.contenedor-about {
    color: var(--color-graylight);
    padding-bottom: 6rem;
}

.sobremi-desc,
.sobremi-obj {
    box-shadow: -3px -3px 7px rgb(59, 59, 59), 3px 3px 5px var(--color-dark);
}

p {
    text-align: justify;
}

/* Skills - FlexBox */
.contenedor-skills {
    height: auto;
    width: auto;

    text-align: center;

    margin: 3rem;
    padding-bottom: 7rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: auto;
    width: auto;

    margin: 3rem;
}

.box div span {
    color: var(--color-graylight);
}

.skill {
    height: 8rem;
    width: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 3rem 1rem 3rem;

    position: relative;
    border-radius: 50%;
    box-shadow: -3px -3px 7px rgb(59, 59, 59), 3px 3px 5px var(--color-dark);

    overflow: hidden;
}

.skill::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    height: 80%;
    width: 80%;

    border-radius: 50%;
    box-shadow: inset -3px -3px 7px rgb(59, 59, 59), inset 3px 3px 5px var(--color-dark);
    background: rgb(7, 11, 14);
    background: linear-gradient(90deg, rgba(7, 11, 14, 1) 0%, rgb(44, 48, 53) 100%);

    transform: translate(-50%, -50%);
}

svg {
    position: relative;
    width: 100%;
    height: 100%;
}

svg circle {
    position: absolute;
    transform: scale(0.8);
    transform-origin: center;

    stroke: var(--color-brown);
    stroke-width: .85rem;
}

.skill2,
.skill3 {
    stroke-dasharray: 280px;
    stroke-dashoffset: 10px;
}

.skill4 {
    stroke-dasharray: 300px;
    stroke-dashoffset: 10px;
}

.skill5,
.skill6 {
    stroke-dasharray: 200px;
    stroke-dashoffset: 300px;
}

/* Portfolio - Bootstrap*/
.contenedor-portfolio {
    padding-bottom: 7rem;
}

.card {
    box-shadow: -3px -3px 7px rgb(59, 59, 59), 3px 3px 5px var(--color-dark);
}

/*Contacto -  Grid*/
.contenedor-contacto {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-auto-rows: 40rem;
    padding-bottom: 4rem;

    gap: 0px;
    justify-items: center;
    justify-content: center;
}

.titulo-cont {
    text-align: center;
    margin: 1rem;
}

.formulario,
.mapa {
    width: 25rem;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
    box-shadow: -3px -3px 7px rgb(59, 59, 59), 3px 3px 5px var(--color-dark);
    padding: 1rem;

    color: var(--color-graylight);
    text-align: center;
}

input,
textarea,
label,
.select-contact {
    width: 22rem;
    text-align: center;
    border-radius: 0.4rem;
}

.boton-cont {
    background-color: var(--color-brown);
    border-radius: 0.4rem;
    font-size: .7rem;
}

.boton-cont:hover {
    color: var(--color-brown);
    background-color: var(--color-graylight);
}

iframe {
    width: 20rem;
    height: 20rem;
}

/* Elementos responsive*/
@media screen and (max-width: 992px) {
    /* Inicio */
    .contenedor-grid {
        padding-bottom: 6rem;
    }
    /* Footer */
    footer {
        width: 100%;
    }

    /* Sobre mi */
    .sobre-mi {
        padding-bottom: 7rem;
    }

    /* Portfolio */
    .contenedor-portfolio {
        padding-bottom: 10rem;
    }
}

@media (min-width: 576px) and (max-width: 992px) {

    /* Inicio */
    .contenedor-grid {
        grid-auto-rows: auto;
        grid-template-columns: 1fr;
        gap: 2rem;

        justify-items: center;
        align-items: center;

        padding-top: 2rem;
    }

    .inicio-sec-texto {
        text-align: center;
    }

    .img-inicio {
        transition: all;
        transition-duration: .5s;
        width: 30rem;
        height: auto;
    }

    /*Skills*/
    .contenedor-skills {
        width: auto;
        height: auto;
        padding-bottom: 7rem;
    }

    .contenedor-skills,
    .box {
        margin: 2rem;
        font-size: 1rem;
    }

    .skill {
        height: 6rem;
        width: 6rem;
    }

    .skill2,
    .skill3 {
        stroke-dasharray: 230px;
        stroke-dashoffset: 10px;
    }

    .skill4 {
        stroke-dasharray: 250px;
        stroke-dashoffset: 10px;
    }

    .skill5,
    .skill6 {
        stroke-dasharray: 160px;
        stroke-dashoffset: 10px;
    }

    /* Contacto */
    .contenedor-contacto {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr 1fr;
    }
}

@media (max-width: 695px) {
    .nav-img {
        width: 2rem;
        height: auto;
    }

    .contenedor-grid {
        grid-auto-rows: auto;
        grid-template-columns: 1fr;
        gap: 2rem;

        justify-items: center;
        align-items: center;

        padding-top: 4rem;
    }

    .inicio-sec-texto {
        text-align: center;
    }

    .img-inicio {
        transition: all;
        transition-duration: .5s;
        width: 20rem;
        height: auto;
    }

    /*Portfolio*/
    .card-portfolio {
        padding-bottom: 10rem;
    }
}

@media screen and (min-width: 381px) and (max-width: 575px) {

    /*Skills*/
    .contenedor-skills {
        width: auto;
        height: auto;
        padding-bottom: 7rem;
    }

    .contenedor-skills,
    .box {
        margin: 2rem;
        font-size: 0.7rem;
    }

    .skill {
        height: 5rem;
        width: 5rem;
    }

    .skill2,
    .skill3 {
        stroke-dasharray: 200px;
        stroke-dashoffset: 10px;
    }

    .skill4 {
        stroke-dasharray: 220px;
        stroke-dashoffset: 10px;
    }

    .skill5,
    .skill6 {
        stroke-dasharray: 140px;
        stroke-dashoffset: 10px;
    }

    /* Contacto */
    .contenedor-contacto {
        width: auto;
        margin: auto;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr 1fr;
    }

    .formulario,
    .mapa {
        max-width: 24rem;
        margin: .5;
    }
}

@media screen and (max-width: 380px) {

    /*Skills*/
    .contenedor-skills {
        width: auto;
        height: auto;
        padding-bottom: 7rem;
    }

    .contenedor-skills,
    .box {
        margin: 1rem;
        font-size: 0.7rem;
    }

    .skill {
        height: 4rem;
        width: 4rem;
    }


    .skill2,
    .skill3 {
        stroke-dasharray: 180px;
        stroke-dashoffset: 10px;
    }

    .skill4 {
        stroke-dasharray: 190px;
        stroke-dashoffset: 10px;
    }

    .skill5,
    .skill6 {
        stroke-dasharray: 100px;
        stroke-dashoffset: 0px;
    }


    /* Contacto */
    .contenedor-contacto {
        max-width: 100%;
        height: auto;
        margin: auto;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr 1fr;
    }

    .formulario,
    .mapa {
        max-width: 80%;
        margin: .5;
    }

    input,
    textarea,
    label,
    .select-contact {
        max-width: 18rem;
    }
}