.sobre-mi {
    .sobre-mi-texto {
        color: nth($color, 4);

        .sobre-mi-desc,
        .sobre-mi-obj {
            box-shadow: $shadow-1;
            transition: .2s;

            &:hover {
                transform: translate(-5px, -5px);
            }
        }
    }

    .sobre-mi-img {
        @include flexbox(flex, center, center, wrap, row);
        padding-bottom: 7rem;
        margin: auto;

        article {
            width: 20rem;
            height: 20rem;
            padding: 1rem;
            margin: nth($margin, 3);

            position: relative;
            background: nth($color, 1);
            border-radius: 50%;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                inset: -10px 100px;
                background: linear-gradient(315deg, nth($color, 4), nth($color, 7));
                transition: .5s;
                animation: animate 4s linear infinite;
            }

            &:hover::before {
                inset: 0px;
            }

            &::after {
                content: "";
                position: absolute;
                inset: 6px;
                background: nth($color,2);
                border-radius: 50%;

            }

            div {
                position: absolute;
                inset: 10px;
                border-radius: 50%;
                border: 6px solid nth($color,3);
                overflow: hidden;

                img {
                    max-width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    z-index: 1;
                }
            }
        }
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
}