.box-titulo {
    margin: 2rem;
}

.contenedor-contacto {
    @include grids(grid, auto, repeat(2,1fr), 1rem, center, center);
    width: 70%;
    height: auto;
    padding-bottom: 7rem;
    padding-top: 1rem;
    margin: auto;

    div {
        margin: nth($margin, 2);
    }

    .contacto-form {
        width: 25rem;
        height: fit-content;
        padding: 1rem;
        margin: auto;

        box-shadow: $shadow-1;
        color: nth($color, 6);
        text-align: center;

        form {
            label {
                width: 90%;
                text-align: center;

                input, .select-contact, textarea {
                    width: 90%;
                    text-align: center;
                    border-radius: .4rem;
                }
            }
            .boton-cont {
                width: 10rem;
                color: nth($color,7);
                background-color: nth($color,2);
                border-radius: 0.4rem;
                font-size: nth($font-size,2);
                &:hover {
                    color: nth($color, 6);
                    background-color: nth($color, 3);
                }
            }
        }
    }

    .contacto-mapa {
        width: 25rem;
        height: 25rem;
        margin: auto;
        box-shadow: $shadow-1;
        text-align: center;
        
        p {
            color: nth($color, 6);
            margin-top: .5rem;
            text-align: center;
        }

        iframe {
            width: 80%;
            height: 80%;
            margin: auto;
        }
    }
}