.navbar {
    background-color: nth($color, 2);
    @extend%font-bebas;
    font-size: nth($font-size, 3);

    div {
        a {
            img {
                width: 3rem;
                height: auto;
            }
        }
        div {
            ul {
                li {
                    width: 7rem;
                    height: auto;

                    a {
                        color: nth($color, 4) !important;
                        &:hover {
                            color: nth($color, 6) !important;
                        }
                    }
                }
            }
        }
    }
}